.flex {
  flex-wrap: wrap;
}
.flex .image-container {
  flex: 1;
  margin: 5px; /* need some space ?*/
}
.about-image {
  width: 75%;
}

.image-two {
  margin: 0;
  padding: 0;
}

.image-container {
  width: 100%;
}

.about-page {
  width: 100%;
}

.creating-new-entry {
  font-size: 30px;
  /* margin: 60px; */
}
.instruction {
  float: left;
  text-align: left;
  font-size: 20px;
  color: #61dafb;
}
@media only screen and (max-width: 37.5rem) {
  .instruction {
    font-size: 15px;
  }
}
