.bookform-title {
  font-size: 30px;
  padding: 0px;
  margin: 30px;
}

.back-to-search-button {
  font-size: 22px;
  float: right;
}
.book-search-title {
  font-size: 20px;
}

.book-search-author {
  font-size: 8px;
}

.search-button {
  color: ivory;
  border-width: 2px;
  background: black;
}
