.author-comment {
  color: lightblue;
  float: right;
  margin-left: auto;
}

.comment-text {
  text-align: left;
}

.comment-box {
  display: flex;
  margin: 3px;
}

.comments-container {
  margin: 0 auto;
  width: 100%;
}
