body {
  box-sizing: border-box;
  padding: 3rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.book-image {
  margin: auto;
  height: 170px;
  width: 120px;
  box-sizing: border-box;
  cursor: pointer;
}

ul {
  list-style: none;
}

.about {
  font-size: calc(10px + 1vmin);
}

/*General Styling
====================*/

* {
  box-sizing: border-box;
}
/*
@media not all and (min-width: 765px) {
  * {
  
    box-sizing: content-box;
  }
}
*/
body {
  background-color: #131313;
  color: white;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
}
/*Nav Bar Styling
====================*/

/* .logo {
  font-size: 3em;
  margin-left: 25px;
  color: white;
} */

.float-right {
  float: right;
}
.thumbs {
  margin: 3px;
}
